:root {
  /* Default Styling */
  color: #111827;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --blue: #5d91e0;
  --indigo: #667eea;
  --purple: #674595;
  --dark-lilac: #7f62a1;
  --dusty-lilac: #ffffff38;
  --mint-green: #ddf0db;
  --dark-green: #517459;
  --light-grey: #f0efef;
  --grey: #797878;
  --off-white: #f9f9f9;
  --white: #ffffff;
  --black: #000000;

  /* Typography */
  --font-style: "Roboto", sans-serif;

  --footer-height: 10px;
}

* {
  font-family: var(--font-style);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--off-white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__content {
  flex: 1;
  padding-bottom: var(--footer-height);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
