MONGODB_URI=mongodb://127.0.0.1:27017/<YOUR_DB_NAME> # Atlas: MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/my-database?retryWrites=true&w=majority
NODE_ENV=development # or production/test
PORT=5001